/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
   .navbar-light .navbar-nav .active>.nav-link {
    color: #fffefe;
    background: url(../images/mh.png) left bottom no-repeat;
    }
   .navbar-light .navbar-nav .nav-link:hover {
    color: #fffefe;
    background: url(../images/mh.png) left bottom no-repeat;
    }
   .header-section .banner-section {
    width: 100%;
    padding: 39px 0px;
    }
    .header-section .banner-section h2 {
    color: white;
    font-size: 37px;
    font-weight: 500;
    margin-bottom: 16px;
}
.header-section .banner-section p {
    color: #999999;
    font-size: 18px;
    font-weight: 600;
    padding-right: 32px;
    line-height: 34px;
    padding-top: 8px;
    padding-bottom: 18px;
}
.header-section .banner-section .btn-primary {
    margin-bottom: 15px;
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 1s;
    margin-left: 70px;
}
.header-section .banner-section .btn-secondary {
    margin-left: 62px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 1s;
}
.about-long-section .title-text h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 13px;
}
.testimonial-section .owl-carousel .item h4 {
    color: white;
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    margin-top: 36px;
    margin-right: 9px;
    line-height: 33px;
}
.eye-catcher-section .btn {
    
    margin: 30px 15px 0px 72px;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 13px;
    transition: 1s;
}
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
   .navbar-light .navbar-nav .active>.nav-link {
    color: #fffefe;
    background: url(../images/mh.png) left bottom no-repeat;
    }
   .navbar-light .navbar-nav .nav-link:hover {
    color: #fffefe;
    background: url(../images/mh.png) left bottom no-repeat;
    }
   .header-section .banner-section {
    width: 100%;
    padding: 39px 0px;
    }
    .header-section .banner-section h2 {
    color: white;
    font-size: 37px;
    font-weight: 500;
    margin-bottom: 16px;
}
.header-section .banner-section p {
    color: #999999;
    font-size: 18px;
    font-weight: 600;
    padding-right: 67px;
    line-height: 34px;
    padding-top: 8px;
    padding-bottom: 18px;
}
.header-section .banner-section .btn-primary {
    margin-bottom: 15px;
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 1s;
    margin-left: 109px;
}
.header-section .banner-section .btn-secondary {
    margin-left: 99px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 1s;
}
.about-long-section .title-text h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 13px;
}
.testimonial-section .owl-carousel .item h4 {
    color: white;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin-top: 36px;
    margin-right: 9px;
    line-height: 33px;
}
.eye-catcher-section .btn {
    
    margin: 30px 15px 0px 122px;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 13px;
    transition: 1s;
}
  
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
     .navbar-light .navbar-nav .active>.nav-link {
    color: #fffefe;
    background: url(../images/mh.png) left bottom no-repeat;
    }
   .navbar-light .navbar-nav .nav-link:hover {
    color: #fffefe;
    background: url(../images/mh.png) left bottom no-repeat;
    }
   .header-section .banner-section {
    width: 100%;
    padding: 39px 0px;
    }
    .header-section .banner-section h2 {
    color: white;
    font-size: 37px;
    font-weight: 500;
    margin-bottom: 16px;
}
.header-section .banner-section p {
    color: #999999;
    font-size: 21px;
    font-weight: 600;
    padding-right: 1px;
    line-height: 34px;
    padding-top: 8px;
    padding-bottom: 18px;
}
.header-section .banner-section .btn-primary {
    margin-bottom: 15px;
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 1s;
    margin-left: 0px;
}
.header-section .banner-section .btn-secondary {
    margin-left: 0px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 1s;
}
.about-long-section .title-text h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 13px;
}
.testimonial-section .owl-carousel .item h4 {
    color: white;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin-top: 36px;
    margin-right: 9px;
    line-height: 33px;
}
.eye-catcher-section .btn {
    
    margin: 0px 15px 8px 0px;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 13px;
    transition: 1s;
}
}

